.container__footer {
  width: auto;
  border-top: solid 1px $color-line-bottom;
  height: 111px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $credits-text;
  padding: 20px 60px 20px 60px;
  height: 140px;

  @media all and (min-width:768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 40px 10px 40px;
    height: 60px;
  }
}

.footer__logo {
  max-width: 103px;
  max-height: 40px;
  margin-top: 10px;
}
