@import "core/_variables";
@import "layout/_header";
@import "layout/_grid";
@import "layout/_footer";
@import "pages/_home";
@import "pages/_card";
@import "components/_typography";
@import "components/_buttons";
@import "components/_forms";
@import "components/_disena";
@import "components/_visor";
@import "components/colapsables";

.button  {
    background-color: red;
    margin: auto;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    
}