// ----VERO ----//

.rotate {
  transform: rotate(-180deg);
  margin-right: 0;
  margin-left: auto;
}


.container {
  padding: 23px 40px;
}

.container__comparte {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  border-bottom: solid 1px $color-line-bottom;
}

.container__comparte--icon {
  text-transform: uppercase;
  font-weight: bold;
  color: $color-titles;
  display: grid;
  grid-template-columns: 16px 1fr 50px;
  grid-template-rows: 1fr;
  align-items: center;
}

.container__comparte--click {
  margin-left: 12px;
  font-size: 18px;
}
.container__comparte-created {
  padding: 20px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-titles;
}
.container__comparte-link {
  font-size: 12px;
  a:link {
    color: $color-icon-title-button;
  }
}
.fa-share-alt{
  color: $color-icon-title-button;
}
